/*
* @Author: https://github.com/Shadowtrance/BDO-Gear-Calculator
* @http: https://shadowtrance.github.io/
*/

body {
    margin-bottom: 50px;
}

#calculator-section, #player-class-section {
    display: none;
}

#player-class {
    min-width: 220px;
}

.stats {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
}

legend.stats-title {
    margin: 0 0 5px 0;
}

.select2-container {
    width: 100%;
}

div.enhancement {
    width: 100%;
}

#calculator-section .clearfix {
    margin-bottom: 10px;
}

.inline-text {
    line-height: 28px;
}

/* New UI */
#equipment {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    min-height: 550px;
}

#equipment .gear-slot, #equipment .main-stats {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 2px solid gray;
    border-radius: 5px;
    bottom: 0px;
    right: 0px;
}

#equipment .gear-slot {
    cursor: pointer;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#equipment .gear-slot .enhancement-level {
    font-size: 24px;
    font-weight: 450;
    padding-top: 12px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 1px rgba(217, 40, 49, 1), 0px 0px 2px rgba(217, 40, 49, 1), 0px 0px 3px rgba(217, 40, 49, 1), 0px 0px 4px rgba(217, 40, 49, 1), 0px 0px 5px rgba(217, 40, 49, 1), 0px 0px 6px rgba(217, 40, 49, 1);
}

#equipment .gem-slot {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    bottom: 0px;
    right: 0px;
    background-image: url("../images/48/gem.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    cursor: pointer;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#equipment .helmet {
    top: 0px;
    left: 50%;
    margin-left: -110px;
    background: url("../images/48/helmet.png") no-repeat center center;
}

#equipment .gem-slot.helmet1 {
    top: 0px;
    left: 50%;
    margin-left: -144px;
}

#equipment .gem-slot.helmet2 {
    top: 34px;
    left: 50%;
    margin-left: -144px;
}

#equipment .armor {
    top: 0px;
    left: 50%;
    margin-left: 46px;
    background: url("../images/48/armor.png") no-repeat center center;
}

#equipment .gem-slot.armor1 {
    top: 0px;
    left: 50%;
    margin-left: 114px;
}

#equipment .gem-slot.armor2 {
    top: 34px;
    left: 50%;
    margin-left: 114px;
}

#equipment .earring1 {
    top: 70px;
    left: 50%;
    margin-left: -176px;
    background: url("../images/48/earring.png") no-repeat center center;
}

#equipment .ring1 {
    top: 70px;
    left: 50%;
    margin-left: 112px;
    background: url("../images/48/ring.png") no-repeat center center;
}

#equipment .ring2 {
    top: 142px;
    left: 50%;
    margin-left: 146px;
    background: url("../images/48/ring.png") no-repeat center center;
}

#equipment .earring2 {
    top: 142px;
    left: 50%;
    margin-left: -210px;
    background: url("../images/48/earring.png") no-repeat center center;
}

#equipment .shoes {
    top: 213px;
    left: 50%;
    margin-left: -210px;
    background: url("../images/48/shoes.png") no-repeat center center;
}

#equipment .gem-slot.shoes1 {
    top: 213px;
    left: 50%;
    margin-left: -244px;
}

#equipment .gem-slot.shoes2 {
    top: 247px;
    left: 50%;
    margin-left: -244px;
}

#equipment .gloves {
    top: 213px;
    left: 50%;
    margin-left: 146px;
    background: url("../images/48/gloves.png") no-repeat center center;
}

#equipment .gem-slot.gloves1 {
    top: 213px;
    left: 50%;
    margin-left: 214px;
}

#equipment .gem-slot.gloves2 {
    top: 247px;
    left: 50%;
    margin-left: 214px;
}

#equipment .belt {
    top: 284px;
    left: 50%;
    margin-left: -176px;
    background: url("../images/48/belt.png") no-repeat center center;
}

#equipment .necklace {
    top: 284px;
    left: 50%;
    margin-left: 112px;
    background: url("../images/48/necklace.png") no-repeat center center;
}

#equipment .main-weapon {
    top: 355px;
    left: 50%;
    margin-left: -112px;
    background: url("../images/48/main-weapons.png") no-repeat center center;
}

#equipment .gem-slot.main-weapon1 {
    top: 424px;
    left: 50%;
    margin-left: -112px;
}

#equipment .gem-slot.main-weapon2 {
    top: 424px;
    left: 50%;
    margin-left: -78px;
}

#equipment .awakening-weapon {
    top: 355px;
    left: 50%;
    margin-left: -32px;
    background: url("../images/48/awakening-weapons.png") no-repeat center center;
}

#equipment .secondary-weapon {
    top: 355px;
    left: 50%;
    margin-left: 48px;
    background: url("../images/48/secondary-weapons.png") no-repeat center center;
}

#equipment .gem-slot.secondary-weapon1 {
    top: 424px;
    left: 50%;
    margin-left: 48px;
}

#equipment .gem-slot.secondary-weapon2 {
    top: 424px;
    left: 50%;
    margin-left: 82px;
}

#equipment .stat-ap,
#equipment .stat-awk-ap,
#equipment .stat-dp {
    border: 0px;
    height: 60px;
}

#equipment .stat-ap {
    top: 460px;
    left: 50%;
    margin-left: -238px;
    width: 160px;
}

#equipment .stat-awk-ap {
    top: 460px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    border-radius: 0px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

#equipment .stat-dp {
    top: 460px;
    left: 50%;
    margin-left: 78px;
    width: 160px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

#equipment .stat-ap,
#equipment .stat-awk-ap,
#equipment .stat-dp {
    text-align: center;
}

#equipment .stat-ap strong,
#equipment .stat-awk-ap strong,
#equipment .stat-dp strong {
    display: block;
    font-size: 14px;
}

#equipment .stat-ap span,
#equipment .stat-awk-ap span,
#equipment .stat-dp span {
    display: block;
    font-size: 32px;
    color: #e7d583;
}

.item-details {
    position: relative;
    padding: 5px 8px;
    background: #272727;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
}

.item-details.selected {
    border: 4px double #00FF2B;
}

.item-details .item-name strong {
    font-size: 18px;
    margin-right: 65px;
    display: block;
}

.item-details .item-icon {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
}

.item-details .item-icon img {
    vertical-align: baseline;
}

.item-details .item-stats {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.item-details .item-choose {
    position: absolute;
    right: 8px;
    top: 5px;
}

.item-details .item-gems,
.item-details .item-effects,
.item-details .item-set-effects,
.item-details .item-enhancement-effects,
.item-details .item-enhancement-level {
    margin-top: 8px;
}

.item-details .item-gems > div,
.item-details .item-effects > div,
.item-details .item-set-effects > div,
.item-details .item-enhancement-effects > div {
    color: #e9bd23;
}

.item-details .item-gems > div::before,
.item-details .item-effects > div::before,
.item-details .item-set-effects > div::before,
.item-details .item-enhancement-effects > div::before {
    content: "- ";
    color: #fff;
}

.item-details .item-effects strong {
    display: inline-block;
}

.item-details .item-set-effects strong {
    display: block;
}

.item-details .item-set-effects span {
    color: #fff;
}

.item-details .item-enhancement-level strong {
    display: block;
}

.class_img:hover .class_icon, .class_img:hover .class_title {
    opacity: 1.0;
}

.class_img { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #9f8772;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.class_icon {
    height: 70px;
    width: 70px;
    padding: 10px;
}
.class_icon.faded {
    opacity: 0.4;
}
.class_icon.selected {
    opacity: 1.0;
    background: rgba(159, 135, 114, 0.3);
    padding: 10px;
}

.class_title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: .7em;
    color: #fff;
    background-color: rgba(0,0,0, 0.7);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.class_title.selected {
    color: #e7d583;
}

#gear-list {
    list-style-type: none;
    padding-left: 0px;
}
#gear-list ul {
    list-style-type: none;
    padding-left: 20px;
}
#gear-list li:before {
    content: "\e074";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin: 0px 10px 0px 5px;
}

#gear-rarity-filter {
    list-style-type: none;
    padding-left: 0px;
}
#gear-rarity-filter li {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    padding: 3px;
    margin-right: 6px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5),
        inset -2px -2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
#gear-rarity-filter li div {
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background: #1b2337;
    border: 2px solid #1b2337;
}
#gear-rarity-filter li.common, #gear-rarity-filter li.common.active div {
    background: #ffffff;
}
#gear-rarity-filter li.uncommon, #gear-rarity-filter li.uncommon.active div {
    background: #5ff369;
}
#gear-rarity-filter li.rare, #gear-rarity-filter li.rare.active div {
    background: #0391c4;
}
#gear-rarity-filter li.epic, #gear-rarity-filter li.epic.active div {
    background: #f6c232;
}
#gear-rarity-filter li.legendary, #gear-rarity-filter li.legendary.active div {
    background: #d36300;
}

.intro-text a {
    text-decoration: none;
}

.stats li {
    color: #e7d583;
}
.stats li strong {
    color: #e5e5e5;
}

input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label:before {
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    background: transparent;
    border: 2px solid #dfce7f;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin-right: 10px;
}

input[type=checkbox] + label:before {
    content: "\00a0";
}

input[type=checkbox]:checked + label:before {
    content: "\e013";
    background: #dfce7f;
    color: #1b2337;
    border: 0px;
    padding: 2px;
}

#sticky-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(14, 18, 29);
    height: 50px;
    padding-top: 10px;
    z-index: 1025;
}

#updatenotes .lead {
    font-size: 12px;
}
#updatenotes h1 {
    overflow: hidden;
    font-size: 2rem;
    font-weight: 300;
}
#updatenotes h1:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #eee;
}

#updatenotes ul {
    list-style-type: none;
    padding-left: 0px;
}
#updatenotes ul li:before {
    content: "\e074";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin: 0px 10px 0px 5px;
}

#stat-breakdown {
    position: absolute;
    background: #9f8772;
    padding: 3px;
    border-radius: 3px;
    z-index: 2000;
    display: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5),
        inset 1px 1px 0px rgba(255, 255, 255, 0.5),
        inset -1px -1px 0px rgba(0, 0, 0, 0.5);
}
#stat-breakdown .outer {
    background: #292f41;
    border-radius: 3px;
}
#stat-breakdown .outer .inner {
    font-size: 12px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5),
        inset -1px -1px 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
}
#stat-breakdown .outer .inner .info {
    color: #e7d583;
}
#stat-breakdown .outer .inner ul.list {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0px;
}
#stat-breakdown .outer .inner ul.list li:before {
    content: "\002a";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 200;
    font-size: 6px;
    margin: 0px 5px 0px 2px;
    color: #e7d583;
}
#stat-breakdown .outer .inner ul.list li.no:before {
    color: transparent;
}

.background-ring {
    border: 2px solid rgba(126, 126, 126, 1);
    margin-top: 20px;
    width: 380px;
    height: 380px;
    border-radius: 500px;
    position: absolute;
    margin-left: 45px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7),
        1px 1px 3px rgba(0, 0, 0, 0.7);
}

#settingsscreen label {
    font-weight: normal;
    font-size: 16px;
}